.button-text{
    text-transform: uppercase;
    font-size: 15px;
    color: white;
    margin: 10px;
}

.btn{
    width: 177px;
    background-color:  dodgerblue;
    border: 1px solid black;
    display: flex;
}

.icon{
    margin: 10px;
    color: white;
}

.hidden{
    display: none;
}